<?xml version="1.0"?>
<robot>
    <gazebo>
      <plugin name="robot_diff_drive" filename="libgazebo_ros_mecanum_drive.so">
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <robotBaseFrame>base_footprint</robotBaseFrame>
        <LeftRear>wheel_left_rear_joint</LeftRear>
        <LeftFront>wheel_left_front_joint</LeftFront>
        <RightFront>wheel_right_front_joint</RightFront>
        <RightRear>wheel_right_rear_joint"</RightRear>
        <odometryRate>20</odometryRate>      
        <publishWheelTF>false</publishWheelTF>
        <publishWheelJointState>true</publishWheelJointState>
        <WheelTorque>30</WheelTorque>
        <WheelSeparationW>0.5</WheelSeparationW>
        <WheelSeparationL>0.6</WheelSeparationL>
        <wheelAccel>5</wheelAccel>
        <wheelDiameter>0.13</wheelDiameter>
        <publishOdom>true</publishOdom>
        <isRollerModel>true</isRollerModel>
      </plugin>
  </gazebo>
</robot>
